select{
    background-color: #94cfff;
    color: rgb(85, 85, 85);
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    outline: none;
    width: 35%;
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin: 8px 0 15px 0;
}

.record-form label {
    color: yellow;
    font-size: 25px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.time input {
    width: 60%;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    /* border: 2px solid rgb(255, 251, 0); */
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none;
    background-color: #94cfff;
}

.record-div {
    border: 2px solid rgb(255, 251, 0);
    border-radius: 15px;
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.recordSubmit__button {
    width: 10em;
    background-color: rgb(255, 251, 0);
    color: black;
    /* font-weight: 600; */
    border: none;
    padding: 3px;
    border-radius: 15px;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'New Super Mario Font U', sans-serif;
}

.recordSubmit__button:hover {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: 0.5s;
    cursor: pointer;
}
