.courses-page-div {
    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: 15%, 85%;
    margin-left: 20%;
    margin-right: 20%;
}

.course-header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-template-rows: 1fr;
    background-color: rgba(128, 128, 128, 0.95);
    margin-top: 10px;
    margin-bottom: 10px;
}

.courses-div {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 3em;
    background-color: rgba(128, 128, 128, 0.95);
    /* background-color: rgb(66, 191, 229, .8) */
}

.game-image-div {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
}

.course-description-div {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 10px 40px auto 40px;
}

.course-description-text {
    text-align: left;
}

.splash-game-image {
    max-height: 350px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10%;
}

.cup-img {
    height: 200px;
    padding: 38px;
    /* border-radius: 10%; */
}

.course-text {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    background:green;
    box-shadow:
    0 0 0 10px white,
    0 0 0 15px green;
    border-radius: 20px;
    margin: 5px;
    color: white;
    padding: 5px;
    /* box-sizing: border-box; */
    max-width: 80%;
    margin-left: 9%;

}

.course-link {
    text-decoration: none;
}

.splash-course-image {
    width: 90%;
    height: 250px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.course-link:hover {
    width: 105%;
}

.cup-div {
    align-self: center;
    background-color: rgba(255, 0, 0, 0.9);;
}

.course-and-image-name {
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    border-right: black 2px;
}
