.sign-up-banner {
    background-color: red;
    height: 300px;
}

.title-sign-up {
    color: white;
    font-family: arial,sans-serif;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 3rem;
    text-align: left;
    padding-left: 100px;
    padding-top: 70px;
    line-height: .5;
}

.img-sign-up-mario {
    width: 340px;
    position: absolute;
    top: 130px;
    right: 100px;
}

.sign-up-form-container {
    padding-top: 50px;
    background-color: white;
    border: 1px solid grey;
}

.sign-up-form-container label {
    font-family: arial,sans-serif;
    font-size: 12pt;
    color: grey;
    font-weight: bold;
}

.sign-up-form-container input {
    display: block;
    margin: auto;
    outline: 0;
    border: 2px solid lightgrey;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sign-up-form-container input:focus {
    border-color: red;
}

.sign-up-button {
    background-color: red;
    border-radius: 25px;
    color: white;
    border: none;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 12pt;
}

.sign-up-errors {
    color: red;
    font-size: 10pt;
    font-family: arial,sans-serif;
    padding: 20px;
}

@media (max-width: 1028px) {
    .title-sign-up {
      text-align: center;
      padding-left: 0px;
    }

    .img-sign-up-mario {
      display: none;
    }
}

@media (max-width: 500px) {
    .sign-up-banner {
      height: 200px;
    }

    .title-sign-up {
      font-size: 25pt;
      line-height: 25pt;
      padding-top: 30px;
    }

}
