.sign-up-banner {
    background-color: red;
}

.title-sign-up {
    color: white;
    font-family: arial,sans-serif;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 3rem;
    text-align: left;
    padding-left: 100px;
    padding-top: 70px;
    line-height: .5;
    font-family: 'New Super Mario Font U', sans-serif;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

.sign-up-banner {
    width: 100%;
    height: 280px;
    animation: animateCloud 70s linear infinite;
    background-image: url(https://png2.cleanpng.com/sh/dc39aa3805444bfc9d4668127b851127/L0KzQYi4UsA3N2pmfpGAYUK7c4jqgck3a2JmSpC6NUm3RIq4UcE2OWM7SqQ5Mka5QYi8TwBvbz==/5a28c7ca96c1a2.1594491115126220266175.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 60%;
  }
  @keyframes animateCloud  {0% {background-position: 0 0;}100% {background-position: 1280px 0;}}

.img-sign-up-mario {
    width: 340px;
    position: absolute;
    top: 130px;
    right: 100px;
}

.sign-up-form-container {
    /* padding-top: 50px; */
    background-color: #43B047;
    border: 1px solid grey;
}

.sign-up-form-container .sign-up-label {
    font-size: 24pt;
    color: #FBD000;
    display: block;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

.sign-up-form-container .sign-up-input {
    /* display: block; */
    margin: auto;
    outline: 0;
    border: 5px solid black;
    border-radius: 25px;
    height: 40px;
    width: 450px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 24pt;
    text-align: center;
}

.sign-up-form-container input:focus {
    border-color: red;
}

.sign-up-button {
    background-color: red;
    border-radius: 25px;
    color: white;
    border: 5px solid black;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 100px;
    font-size: 24pt;
    font-family: 'New Super Mario Font U', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

.sign-up-button:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    cursor: pointer;
}

.sign-up-errors {
    color: red;
    font-size: 10pt;
    font-family: arial,sans-serif;
    padding: 20px;
}

.character-select-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid black;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #049CD8;
    width: 750px;
}

.character-select-rows {
    padding: 0px;
    margin: 0px;
}

.pfp_label {
    width: 10%;
    margin-right: 10px;
}



@media (max-width: 1028px) {
    .title-sign-up {
      text-align: center;
      padding-left: 0px;
    }

    .img-sign-up-mario {
      display: none;
    }

    .character-select-container {
      width: 450px;
    }

    .pfp_label {
      width: 7%;
      margin-right: 10px;
    }

    .sign-up-form-container {
      padding-top: 0px;
    }

}

@media (max-width: 500px) {
    .sign-up-banner {
      height: 200px;
    }

    .title-sign-up {
      font-size: 25pt;
      line-height: 25pt;
      padding-top: 30px;
    }

}
