body{
    background-image: url(./checkerboard.jpg);
    /* background-image: url("https://static8.depositphotos.com/1176848/894/i/950/depositphotos_8945283-stock-photo-checkerboard-chess-background.jpg"); */
    text-align: center;
}

h1{
    font-size: 70px;
    color: red;
}

.homePageLayout{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.gameListing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px, 300px;
    gap: 30px;
    justify-items: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* background-color: grey; */

}

.gameListing > div{
    height: 450px;
    width: 100%;
}

.gameListing > div:hover{
    opacity: 0.95;
    /* transition: 1s; */
    transform: scale(1.04);
    transition: all 400ms cubic-bezier(0.1, -0.9, 0.2, 0);
}

.splash-image{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: fill;
    /* background-color: grey; */
    border: 5px solid rgb(251, 247, 5);
    box-shadow: 0 0 40px black;
    overflow: hidden;


}

.game1{
    grid-column: 1;
    grid-row: 1;
}
.game2{
    grid-column: 2;
    grid-row: 1;

}
.game3{
    grid-column: 3;
    grid-row: 1;

}
.game4{
    grid-column: 1;
    grid-row: 2;

}
.game5{
    grid-column: 2;
    grid-row: 2;

}
.game6{
    grid-column: 3;
    grid-row: 2;

}
