/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.courseViewMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.courseDescription{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
    /* text-shadow: 0 0 5px rgb(0, 0, 0); */
}
.courseTitle{
    border: 5px solid black;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    background: rgb(4, 156, 216);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px rgb(0, 0, 0);
    /* text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000; */
}

.courseImages{
    width: 100%;
    margin-bottom: 5px;
}
.splash_image{
    height: 500px;
    object-fit: fill;
    width: 34%;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 20px;
    margin-right: 5px;
    background-color: gray;
}

.map_image{
    height: 500px;
    object-fit: fill;
    width: 64%;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: 5px;
    background-color: gray
}

.commentsMain h2 {
    color: rgb(247, 251, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: 45px;
}

.comment-div{
    border: 2px solid black;
    border-radius: 20px;
    font-size: 22px;
    margin: 0 auto;
    max-width: 60%;
    padding: 10px;
    box-shadow: 10px 5px 5px black;
    background: rgb(255,254,223);
    background: linear-gradient(0deg, rgba(255,254,223,1) 20%, rgba(255,255,178,1) 100%);
}

.courseText{
    background: rgb(229, 37, 33);
    /* background: linear-gradient(0deg, rgba(105,105,105,1) 0%, rgba(247,247,247,1) 100%); */
    border: 5px solid black;
    border-radius: 20px;
    width: 98%;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.commentsAndRecordsContainer{
    display: flex;
    width: calc(98% + 10px);

}

.commentsMain{
    background: rgb(0,97,6);
    background: linear-gradient(0deg, rgba(0,97,6,1) 20%, rgba(0,168,14,1) 100%);
    width: 55%;
    border: 5px solid black;
    border-radius: 20px;
    margin-right: 5px;
    padding: 20px;

}

.recordsMain h2 {
    color: rgb(247, 251, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    /* text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000; */
    font-size: 48px;
    padding: 15px;
}

.recordsMain{
    background-color: rgb(4, 156, 216);
    width: 45%;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: 5px;
}
.recordsTable{
    width: 100%;
    padding: 30px;
}

th{
    border-bottom: 5px solid rgb(61, 61, 61);
    font-size: 30px;
    color: rgb(247, 251, 0);
    /* text-shadow: 0 0 8px rgb(0, 0, 0); */
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

td{
    border-bottom: 2px solid rgb(168, 168, 168);
    border-left: 0px;
    border-right: 0px;
    font-size: 25px;
    color: rgb(247, 251, 0);
    /* text-shadow: 0 0 5px rgb(0, 0, 0); */
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

td a {
    text-decoration: none;
    color: rgb(247, 251, 0);
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

td a:hover {
    text-decoration: underline;
    color: rgb(247, 251, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.deleteCommentButton {
    width: 10em;
    background-color: rgb(255, 251, 0);
    color: black;
    /* font-weight: 600; */
    border: 2px solid rgb(0, 0, 0);
    padding: 3px;
    border-radius: 15px;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'New Super Mario Font U', sans-serif;
}

.deleteCommentButton:hover {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: 0.5s;
    cursor: pointer;
}

.timeStamp {
    font-size: 18px;
    color: gray;
}

.recordDeleteButton {
    width: 100%;
    background-color: rgb(255, 251, 0);
    color: black;
    border: none;
    padding: 3px;
    border-radius: 15px;
    font-size: 17px;
    margin-bottom: 5px;
}

.recordDeleteButton:hover {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: 0.5s;
    cursor: pointer;

}
