.user-container a {
    color: black;
}

.user-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 500px;
    justify-self: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: helvetica, arial, sans-serif;
}

.user-container .user-headings {
    background:red;
    box-shadow:
    0 0 0 10px hsl(0, 0%, 100%),
    0 0 0 15px hsl(0, 100%, 50%);
    border-radius: 20px;
    margin: 5px;
    color: white;
    padding: 5px;
    box-sizing: border-box;
}


.header-container {
    background-color: red;
}

.user-container .user-headings {
    border: solid 3px #ff0000;
    padding: 5px;
    background-clip: content-box;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.user-profile-div {
    grid-column: 1;
    grid-row: 1;;
    height: 500px;
    border: 1px solid black;
}

.user-record-div {
    grid-column: 2 / span 2;
    grid-row: 1;
    overflow-y: auto;
    max-height: 500px;
    border: 1px solid black;
}

.user-comment-div {
    grid-column: 1 / span 3;
    grid-row: 2;
    overflow-y: auto;
    max-height: 500px;
    border: 1px solid black;
}
