.nav-links a {
    font-family: arial;
    text-decoration: none;
    color: white;
}

/* a:hover {
    color: red;
} */

.nav-bar-container a {
    font-family: arial;
    text-decoration: none;
    color: white;
}

.nav-bar-container {
    background: rgb(97,0,0);
    background: linear-gradient(0deg, rgba(97,0,0,1) 0%, rgba(255,0,0,1) 100%);
    height: 100%;
    /* justify-items: center;
    align-items: center; */
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all-users-link {
    margin-right: 20px;
}

.sign-up-link {
    margin-right: 20px;
}

.user-profile-link {
    margin-right: 20px;
}
