.nav-links a {
    font-family: 'New Super Mario Font U', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 0;
    /* text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000; */
}

.nav-bar-container a {
    text-decoration: none;
    /* color: white; */
}

.nav-bar-container {
    /* background: rgba(229, 37, 33 ,1); */
    /* background: linear-gradient(0deg, rgba(97,0,0,1) 0%, rgba(229, 37, 33 ,1) 100%); */
    /* background: linear-gradient(0deg, rgb(124, 8, 6) 0%, rgba(229, 37, 33 ,1) 80%); */
    background: linear-gradient(0deg, rgb(229, 37, 33 ,1) 0%, rgb(247, 114, 112) 80%);

    /* background: linear-gradient(0deg, rgba(4, 156, 216,1) 0%, rgba(229, 37, 33 ,1) 40%); */

    height: 100%;
    /* justify-items: center;
    align-items: center; */
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    position: relative;
}

.all-users-link {
    margin-right: 20px;
    margin-right: 20px;
    background: linear-gradient(to right, rgb(255, 208, 0),rgb(251, 208, 0),rgb(67, 176, 71), rgb(0, 183, 255));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    /* color:rgba(0,0,0,1); */
    font-size:30px;
    transition: color .2s ease-in-out;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.all-users-link:hover {
    color:rgba(0,0,0,0);
}

.login-link {
    margin-right: 20px;
    margin-right: 20px;
    background: linear-gradient(to right, rgb(255, 208, 0),rgb(251, 208, 0),rgb(67, 176, 71), rgb(1, 183, 255));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    /* color:rgba(0,0,0,1); */
    font-size:30px;
    transition: color .2s ease-in-out;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.login-link:hover {
    color:rgba(0,0,0,0);
}

.sign-up-link {
    margin-right: 20px;
    background: linear-gradient(to right, rgb(255, 208, 0),rgb(251, 208, 0),rgb(67, 176, 71), rgb(29, 191, 255));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    /* color:rgba(0,0,0,1); */
    font-size:30px;
    transition: color .2s ease-in-out;
    /* text-transform:uppercase; */
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.sign-up-link:hover {
    color:rgba(0,0,0,0);
}

@keyframes rainbow {
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }

.user-profile-link {
    margin-right: 20px;
    margin-right: 20px;
    background: linear-gradient(to right, rgb(255, 208, 0),rgb(251, 208, 0),rgb(67, 176, 71), rgb(0, 183, 255));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    /* color:rgba(0,0,0,1); */
    font-size:30px;
    transition: color .2s ease-in-out;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.user-profile-link:hover {
    color:rgba(0,0,0,0);
}

.logout-button-official, .demo-button {
    background-color: rgb(247, 251, 0);
    border-radius: 10px;
    height: 1.5em;
    font-size: 20px;
    width: 6em;
    border: 1px solid black;
    padding: 3px 10px 3px 10px;
    transition: .3s ease;
    text-transform: uppercase;
    font-family: 'New Super Mario Font U', sans-serif;
}

.logout-button-official:hover, .demo-button:hover {
    /* background-color: pink; */
    transform: scale(1.05);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    cursor: pointer;
}

.baby-mario-logo {
    max-height: 75px;
    margin-left: 20px;
    padding: 5px;
    /* box-shadow: 5px 5px 10px rgb(251, 208, 0); */
    transition: all 400ms cubic-bezier(0.1, -0.9, 0.2, 0);
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));

}

.baby-mario-logo:hover{
    transform: scale(1.2);

}

.app-title-div {
    /* align-self: end; */
    margin-left: 0;
    text-align: end;
    position: relative;
    width: 100%;
}

.title-text {
    position: absolute;
    bottom: 0;
    padding: 0px;
    margin: 0px;
    font-size: 45px;
    text-align: end;
    background-size: 150% 150%;
    animation: rainbow 4s ease-in-out infinite;
    background-clip: text;
    text-transform:uppercase;
    background-image: linear-gradient(to left, rgb(0, 183, 255), rgb(0, 255, 8), rgb(251, 208, 0), rgb(238, 255, 2));
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}


.right-nav {
    position: absolute;
    right: 2%;
    bottom: 1.25em;
}

.logged-out-div {
    position: relative;
}

.demo-button {
    position: relative;
    /* text-align: start; */
    margin-left: 25px;
}
