a {
    font-family: arial;
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

.nav-bar-container {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    /* justify-items: center;
    align-items: center; */
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "home . . . . user signup login logout"
        /* "home . . .  . . . . . logout" */
}

.home-link {
    grid-area: home;
}

.login-link {
    grid-area: login;
}

.sign-up-link {
    grid-area: signup;
}

.users-link {
    grid-area: user;
}

.logout-button-link {
    grid-area: logout;
}

li {
    list-style-type: none;
}
